<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">


<!-- 방명록 댓글저장 -->

<insert id="commentInsert">
	INSERT INTO board_comment (content, writer, board_id)
	VALUES (#{content},#{writer},#{board_id})
</insert>


<select id="commentList" resultType="board.BoardCommentVO">
	SELECT c.*, name
	FROM board_comment c left outer join member m
	ON m.userid=c.writer
	WHERE board_id = #{board_id}

</select>





<!-- 문자열이라 ${}를씀 -->
<delete id="fileDelete">
	DELETE board_file
	WHERE id in ( ${removed} )
</delete>


<update id="update">
	UPDATE board
	SET title = #{title}, content = #{content}
	WHERE id = #{id}
</update>


<!-- 선택글의 파일정보 -->
<select id="file" resultType="board.BoardFileVO">
SELECT * FROM board_file WHERE board_id = #{id}
</select>


<!-- 선택한 방명록 글의 정보 조회 -->
<select id='info' resultType='board.BoardVO'>
select b.*, name 
from board b left outer join member m on b.writer = m.userid 
where id = #{id}
</select>

<update id="read">
update board set readcnt = readcnt+1 where id = #{id}
</update>

<!-- 방명록 글의 총건수 조회 -->
<select id="total" resultType="integer">
	SELECT count(*) FROM board <include refid="board_where"/>
</select>


<sql id="board_where">
	<choose>
	
		<when test="search=='all'">
			WHERE title LIKE '%' || #{keyword} || '%'
			or content like '%' || #{keyword} || '%'
			or writer in (SELECT userid FROM member WHERE name like '%'||#{keyword}||'%' )
		</when>
		<when test="search=='title' or search=='content'">
			WHERE ${search} like '%' || #{keyword} || '%'
		</when>
		<when test="search=='writer'">
			WHERE writer in (SELECT userid FROM member WHERE name like '%'||#{keyword}||'%' )
		</when>
	</choose>

</sql>


<select id="list" resultType="board.BoardVO">
	SELECT (SELECT count(*) from board_file f WHERE b.id=f.board_id) fileCount,b.*
	FROM (SELECT row_number() over(ORDER BY id) no, b.*, name
		FROM board b LEFT OUTER JOIN member m
		ON b.writer = m.userid 
		<include refid="board_where"/>) b
	WHERE no BETWEEN #{beginList} and#{endList}
	ORDER BY no DESC 
</select>

<insert id="insert">

	<selectKey keyProperty="id" resultType="integer" order="AFTER">
		SELECT seq_board.currval FROM dual 
	</selectKey>

	INSERT INTO board
	(title,content,writer)
	VALUES
	(#{title},#{content},#{writer})


</insert>
<!-- https://mybatis.org/mybatis-3/ko/dynamic-sql.html -->
<insert id="fileInsert">
	<foreach item='item' collection="fileList"
	open="INSERT ALL" separator=" " close="select * from dual">
	INTO board_file (board_id , filename, filepath)
	VALUES ( #{id},#{item.filename},#{item.filepath} )
	</foreach>
</insert>


<!-- 파일하나의 정보 -->
<select id="fileInfo" resultType="board.BoardFileVO">
	SELECT * FROM board_file where id = #{id}
</select>

<delete id="delete" >
	DELETE FROM board WHERE id = #{id} 

</delete>

</mapper>