<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">

<!-- notice 목록 -->
<select id='notice_list' resultType='notice.NoticeVO'>
select row_number() over(order by n.id) no, n.*, name
from notice n left join member m on n.writer=m.userid
order by no desc
</select>

<!--  -->
<select id="notice_info" resultType='notice.NoticeVO'>
select n.* , m.name
from notice n left join member m on n.writer=m.userid
where id = #{id}

</select>

<!--  -->
<insert id="notice_insert">

insert into notice(title,content,writer,filename,filepath)
values (#{title},#{content},#{writer}, #{filename,jdbcType=VARCHAR}, #{filepath,jdbcType=VARCHAR})

</insert>

<update id="notice_update">

UPDATE notice SET title = #{title},content = #{content}
,filename=#{filename,jdbcType=VARCHAR} , filepath = #{filepath,jdbcType=VARCHAR}
WHERE id = #{id}


</update>
<delete id="notice_delete">

delete notice
where id = #{id}
</delete>

<update id="notice_readcnt_update"> 
update notice set readcnt = readcnt+1
where id = #{id}

</update>


<!-- 페이징 처리를 위한 전체 건수 조회 -->
<select id="count" resultType="integer">
select count(*) from notice
</select>

<!-- 페이징 처리 중 조회 원래는 그냥 list로 같이 썼으나 학습을 위해 두개로 나눔 -->

<select id='list' resultType='notice.NoticeVO'>
select * 
from (select row_number() over(order by n.id) no, n.*, name
      from notice n left join member m on n.writer=m.userid)
where no between #{beginList} and #{endList} 
order by no desc
</select>



</mapper>

